

  


<div class="Contact">
	<h1><strong>Get in touch!</strong></h1>
	</div>
	

<div class="Subscribe">
	<form action="MAILTO:sineadfx@yahoo.ie" method="post" enctype="text/plain">
<div>
<h1>CONTACT US!</h1>
<label>
<span>Your name</span><input id="name" type="text" name="name" />
</label>

<label>
<span>Email Address</span><input id="e-mail" type="text" name="e-mail" />
</label>

<label>
<span>Subject</span><input id="subject" type="text" name="subject" />
</label>

<label>
<span>Message</span><textarea id="feedback" name="feedback"></textarea>
</label>

<label>
<input type="button" value="Send" />
</label>

</div>
</form>
</div>

 </div>
</div>

<div class="details">
		
		<p><strong>theproducehub@gmail.com</strong></p>
		<p><strong>Phone: 0863951674</strong></p>
		</div>
		
