<div class="img">
<img src="/assets/images/fruitandvegbox.jpg" alt="logo" style="width: 40%; height: 40%"/>
</div>

<div class="title">
<h1>#TheProduceHub</h1>
  </div>

<div class="para">
<p><strong>Delivering quality fruit and veg directly to your door!</strong></p>
</div>

<div class="produce">
			<ul> 
				<li><a href="../items"><strong>Orders and Pricing</strong></a></li>
				<li><a href="../users/sign_up"><strong>Sign up Now!</strong></a></li>
				<li><a href="../items"><strong>How it works</strong></a></li>
		</ul>
		</div>

	